.one {
    color: red;
    .two {
        color: blue;
        .three {
            color: green;

            @at-root .four {
                color: pink;
            }
        }
    }
}

// .one {
//     color: red;
//     .two {
//         color: green;
//         .three {
//             color: blue;

            
//         }
//     }
// }
// .four {
//     color: pink;
// }
