<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');
</style>

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    background: linear-gradient(45deg, Violet, Orange);
}

.HANAMDAUM {
    font-family: 'HANAMDAUM' cursive, sans-serif;
}

.mainbox {

    background-color: beige;
    border-radius: 8px;
    width: 610px;
    padding : 30px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #bebebe;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
}

.l {
    text-align: right;   
}

div {
    font-family: 'HANAMDAUM', sans-serif;
}

.TTWan {
    font-family: 'TTWanjudaedunsancheB', sans-serif;
}

.gostar {
    font-family: 'GoryeongStrawberry', sans-serif;
}