h1,
h3,
ul,
li,
p,
input,
label {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
}

button {

}

ul,
li {
    list-style: none;
    border: 0;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    cursor: pointer;
    display: block;
    background-color: transparent;
}

.login-btn,
.login-btn-sns {
    width: 472px;
    height: 50px;
}

.wrapper {
    width: 520px;
    margin: 50px auto;
    border: 1px solid #c4c4c4;
    border-radius: 10px;    
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

header {
    position: relative;
}

h1 {
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #C4C4C4;
    padding: 20px;

}

header button {
    position: absolute;
    right: 30px;
    top: 20px;
    background: transparent;
    border: none;
}

main {
    padding: 26px 24px 25px 26px;
}

section {
    box-sizing: border-box;
}

h3.login-info {
    padding-bottom: 23px;
    font-size: 20px;
}

form {
    box-sizing: border-box;
}

.login-checkbox {
    appearance: none;
    width: 22px;
    height: 22px;
    background: url(img/icon_check.png) no-repeat center / contain;
    vertical-align: top;
    transition: ease .3s;
    cursor: pointer;
}

.checkbox-lable {
    font-size: 16px;
    margin-left: 8px;
}

.login-btn {
    background: transparent;
    border: 1px solid #c4c4c4;
    background: #2F80ED;
    margin: 20px 0 22px 0;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
}

.sub {
    text-align: center;
    margin-bottom: 18px;
}

#user-id,
#user-pw {
    display: block;
    width: 472px;
    height: 30px;
    margin-bottom: 14px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

a.join,
a.find-idPw,
p.section-line,
span.join {
    font-size: 14px;
    color: #767676;
}

p.section-line {
    position: relative;
    text-align: center;
    padding-bottom: 23px;

}

p.section-line::before {
    content: '';
    display: block;
    position: absolute;
    width: 210px;
    height: 2px;
    top: 8px;
    background-color: #c4c4c4;

}

p.section-line::after {
    content: '';
    display: block;
    position: absolute;
    width: 210px;
    height: 2px;
    top: 8px;
    right: -1px;
    background-color: #c4c4c4;

}

li {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

[class^="icon"]::before {
    display: block;
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url(.//img/icon_sprites_retina.png);
    background-repeat: no-repeat;
    background-size: 117px 48px;
}

.link-sns-login.icon-facebook {
    border: 1px solid #2D9CDB;
}

.link-sns-login.icon-naver {
    border: 1px solid #00BF18;
}

.link-sns-login.icon-kakao {
    border: 1px solid #F2C94C;
}

.icon-google::before {
    background-position: -24px -10px;
}

.icon-facebook::before {
    background-position: -0px -10px;

}

.icon-naver::before {
    background-position: -87px -10px;
}

.icon-kakao::before {
    background-position: -55px -10px;
}