body,
h1,
h2 {
    margin: unset;
    padding: unset;
}

body {
    background-image: url(images/bg.png);
}

.wrapper {
    /* background-color: #ddd; */
    width: 300px;
    height: auto;
    margin: 100px auto;
}

.header {
    color: #eee;
}

.header img {
    display: block;
    margin: 0 auto;
}

h1 {
    padding-bottom: 5px;
    color: #FFF;
    font-family: Arial;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.Contents {
    /* box-sizing: border-box; */
    text-align: left;
    margin: 0 auto;
    width: fit-content;
    padding: 10px 20px 50px;
    border-radius: 0px 0px 30px 30px;
    border-bottom: 10px solid #46260E;
    background: #9C6035;
    color: #E8BC9C;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}