body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--gradient2, radial-gradient(293.21% 130.49% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%));
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  padding: 20px;
}

h1 .logo {
  display: flex;
  width: 244px;
  height: 48px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.wrap {
  width: min(100%, 400px);
  height: 360px;
  margin: 0 auto;
  text-align: center;
  /* gradient */
  background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
  /* shadow */
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.line {
  height: 2px;
  width: 80%;
  background-color: #3D538A;
  margin: 16px auto;
}

.svg-dot {
  display: inline-block;
  position: relative;
  top: 50px;
}

.timer-count {
  margin-top:  16px;
  display: flex;
  justify-content: center;
  gap: 14px;
  color: #A5B6EE;

}

.timer-count button {
  width: 80px;
  height: 80px;
  margin: 8px 0 48px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  display: block;
  background: url('img/component.svg');
}

.timer-button .start {
  background: url('img/start-default.png') no-repeat center;
}

.timer-button .reset {
  background: url('img/reset-disabled.png') no-repeat center;
}

.time-button button {
  width: 112px;
  height: 48px;
  border-radius: 50px;
  border: none;
  background: #324577;
  color: #617199;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
}

footer {
  color: #8596BF;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}